button.DocSearch-Button{
    background: transparent;
    font-family: "Inter", sans-serif;
    border-radius: 4px;
    margin: 0px;
}

button.DocSearch-Button .DocSearch-Search-Icon{
    margin-right: 8px;
    width: 20px;
    height: 20px;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: #CBD5E1;
}

button.DocSearch-Button .DocSearch-Button-Placeholder{
    font-weight: bold;
    color: rgb(203, 213, 225);
    font-size: 0.875rem/* 14px */;
    line-height: 1.5rem/* 24px */;
    padding: 0px;
    display: none;
}

@media (min-width: 1024px) {
    button.DocSearch-Button .DocSearch-Button-Placeholder{
        display: block;
    }
}

@media (min-width: 1280px) {
    button.DocSearch-Button .DocSearch-Button-Placeholder{
        font-size: 1.125rem/* 18px */;
        line-height: 1.75rem/* 28px */;
    }
}

button.DocSearch-Button:hover,
button.DocSearch-Button:active,
button.DocSearch-Button:focus {
    background: rgb(17, 24, 39);
    box-shadow: none;
}

button.DocSearch-Button .DocSearch-Button-Keys{
    display: none;
}
